.container {
  margin-top: 1%;
  margin-left: 1%;
}

.table-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.custom-button {
  margin-top: 1%;
  align-self: flex-end;
  margin-left: 10px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 1%;
}

