<h2 mat-dialog-title>New Category Account</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Category Name</mat-label>
    <input matInput [(ngModel)]="data.name" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Expense Type</mat-label>
    <mat-select [(ngModel)]="data.expenseTypeId" required>
      <mat-option *ngFor="let expenseType of expenseTypes" [value]="expenseType.id">
        {{ expenseType.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">CANCEL</button>
  <button mat-button (click)="onSaveClick()" [disabled]="!isFormValid()" cdkFocusInitial>CREATE</button>
</mat-dialog-actions>
