<mat-sidenav-container *ngIf="isOpen" class="custom-sidenav-container">
  <mat-sidenav [opened]="isOpen" mode="side" class="custom-sidenav">
    <mat-nav-list>
      <ng-container *ngFor="let item of navItems">
        <a [routerLink]="item.routerLink" mat-list-item>
          <div class="list-item-content">
            <div class="list-item-icon">
              <mat-icon>{{ item.icon }}</mat-icon>
            </div>
            <div class="list-item-text" i18n>{{ item.label }}</div>
          </div>
        </a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="height: 88vh;">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


